# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp
.pnp.js

# Distribution
/dist
/build
/out

# Testing
/coverage
.nyc_output
.jest

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
*.log

# Environment
.env
.env.local
.env.dev
.env.production
.env.test
.env.example

# Development
.nuxt
.next
dist-server
dist-admin
dist-app
dist-electron
dist-pwa

# Cache
.cache
tmp/
.temp

# Documentation
docs/
*.md

# CI/CD
.github/
.gitlab/
.circleci/
.jenkins/
.drone.yml

# Source maps (only in production build)
*.map

# Babel
.babelrc
babel.config.js

# Eslint
.eslintcache
.eslintignore

# Prettier
.prettierignore

# Jest
.jest
jest.config.js